@{
    ViewBag.Title = "Home Page";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div>
    <div class="container">
        <img src="http://scarletandgreycafe.com/wp-content/uploads/2015/08/weird-music-logo-banner-1200px-1024x207.png"/>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Quick Buy</h2>
            <p>Know what you want ?Head off to our quick buy section to quickly buy our favorite tunes.. </p>
            <p> <a class="btn btn-default" href="@Url.Action("Index", "Store")" role="button">Quick Buy &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Support</h2>
            <p>Questions, Order tracking, suggestions, feedback..We've got a dedicated support team to handle..</p>
            <p><a class="btn btn-default" href="#" role="button">Support &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Company, Inc.</p>
    </footer>
</div> <!-- /container -->